
<!doctype html>
<html>
<head>
    <title>Aether Form</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- styles -->
    <link href="/stylesheets/resetPassword.css" rel="stylesheet">

</head>

<body>

  <div class="bg">

    <!-- main logo of webpage -->
    <h1 id="aether-title">
      <a href="http://www.aether1.com" id="site-link" target="_blank">
        <div id="top-border"></div>
        Aether<br>Bioprinter
        <div id="bot-border"></div>
      </a>
    </h1>

    <div class="break"></div>

    <!-- Reset Password -->
    <div id="resetarea">
      <form id="reset" method="post">
        <div id="title">Reset Password</div>
        <div class="reset-field">
          <input type="password" name="password" id="password" placeholder="New password">
        </div>

        <div class="break"></div>

        <div class="reset-field">
          <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm password">
        </div>

        <div class="break"></div>

        <button type="submit" id="submit">Submit</button>

      </form>
    </div>

  </div>



</body>

</html>
