#container {
  text-align: center;
}

#login {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

#register {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-bottom: 30px;

}

input {
  margin: 10px;
  width: 30%;
}
