#container {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url(https://pixnio.com/free-images/2017/09/10/2017-09-10-18-15-08.jpg);*/
  background-image: url(/images/aetherBackground.jpg);
  background-size: cover;
  padding-bottom: 50px;
}

#aether-title {
  float: left;
  text-align: center;
  position: relative;
  left: 30px;
  width: 200px;
}

#site-link {
  color: white;
  text-decoration: none;
}

#top-border {
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  height: 10px;
}

#bot-border {
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  height: 10px;
}

.break{
    clear: both;
}

#site-title {
  margin: auto;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding-bottom: 50px;
}

#username-field {
  margin: auto;
  background-color: white;
  width: 50%;
  border-radius: 10px;
  margin-bottom: 50px;
  height: 50px;
}

#name {
  margin-left: 20px;
  width: 90%;
  font-size: 1.5em;
  margin-top: 8px;
  border: none;
}

.section {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

div[class^='buttons'], div[class*=' buttons'] {
  background-color: lightblue;
  border-radius: 10px;
  padding-top: 5px;
  margin: 3px;
}

[id^='problems-button'] {
  float: right;
  width: 77px;
  height: 23px;
  padding-left: 15px;
}

[id^='questions-button'] {
  float: right;
  width: 80px;
  height: 23px;
  padding-left: 15px;
}

[id^='suggestions-button'] {
  float: right;
  width: 93px;
  height: 23px;
  padding-left: 15px;
}

div[class^='sub-buttons'], div[class*=' sub-buttons'] {
  background-color: lightblue;
  border-radius: 10px;
  padding-top: 5px;
  margin: 3px;
  display: none;
}

[id^='other-problems-button'] {
  float: right;
  width: 60px;
  height: 23px;
  padding-left: 15px;
}

[id^='connectivity-problems-button'] {
  float: right;
  width: 98px;
  height: 23px;
  padding-left: 15px;
}

[id^='electrical-problems-button'] {
  float: right;
  width: 78px;
  height: 23px;
  padding-left: 15px;
}

[id^='mechanical-problems-button'] {
  float: right;
  width: 90px;
  height: 23px;
  padding-left: 15px;
}

[id^='software-problems-button'] {
  float: right;
  width: 73px;
  height: 23px;
  padding-left: 15px;
}

[id^='other-prints-button'] {
  float: right;
  width: 60px;
  height: 23px;
  padding-left: 15px;
}

[id^='material-prints-button'] {
  float: right;
  width: 77px;
  height: 23px;
  padding-left: 15px;
}

[id^='setting-prints-button'] {
  float: right;
  width: 69px;
  height: 23px;
  padding-left: 15px;
}

[id^='other-suggestion-button'] {
  float: right;
  width: 60px;
  height: 23px;
  padding-left: 15px;
}

[id^='feature-suggestion-button'] {
  float: right;
  width: 69px;
  height: 23px;
  padding-left: 15px;
}

[id^='configuration-suggestion-button'] {
  float: right;
  width: 103px;
  height: 23px;
  padding-left: 15px;
}

[id^='other-question-button'] {
  float: right;
  width: 60px;
  height: 23px;
  padding-left: 15px;
}

[id^='software-question-button'] {
  float: right;
  width: 73px;
  height: 23px;
  padding-left: 15px;
}

[id^='printer-question-button'] {
  float: right;
  width: 60px;
  height: 23px;
  padding-left: 15px;
}

.title {
  font-size: 1.5em;
  margin: auto;
  width: 30%;
}

.editor {
  height: 200px;
  width: 100%;
}

#plus {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border-width: 2px;
  border: 1px solid black;
  position: relative;
  left: -10px;
  float: right;

}

#plus:hover {
  background-color: gray;
}

a {
  color: black;
}
