#container {
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url(https://pixnio.com/free-images/2017/09/10/2017-09-10-18-15-08.jpg);*/
  background-image: url(/images/aetherBackground.jpg);
  background-size: cover;
}

#aether-title {
  float: left;
  text-align: center;
  position: relative;
  left: 30px;
  width: 200px;
}

#site-link {
  color: white;
  text-decoration: none;
}

#top-border {
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  height: 10px;
}

#bot-border {
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  height: 10px;
}

.break{
    clear: both;
}

#site-title {
  margin: auto;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: white;
  padding-bottom: 50px;
}

#username-field {
  margin: auto;
  background-color: white;
  width: 50%;
  border-radius: 10px;
  margin-bottom: 50px;
  height: 50px;
}

#name {
  margin-left: 20px;
  width: 90%;
  font-size: 1.5em;
  margin-top: 8px;
}

.section {
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

.buttons {
  background-color: lightblue;
  border-radius: 10px;
  padding-top: 5px;
  margin: 3px;
}

#prints-button {
  float: right;
  width: 55px;
  height: 23px;
  padding-left: 15px;

}

#problems-button {
  float: right;
  width: 77px;
  height: 23px;
  padding-left: 15px;
}

#questions-button {
  float: right;
  width: 80px;
  height: 23px;
  padding-left: 15px;
}

#suggestions-button {
  float: right;
  width: 93px;
  height: 23px;
  padding-left: 15px;
}

.problem-buttons {
  background-color: lightblue;
  border-radius: 10px;
  padding-top: 5px;
  margin: 3px;
  display: none;
}

#other-problems-button {
  float: right;
  width: 60px;
  height: 23px;
  padding-left: 15px;
}

#connectivity-problems-button {
  float: right;
  width: 98px;
  height: 23px;
  padding-left: 15px;
}

#electrical-problems-button {
  float: right;
  width: 78px;
  height: 23px;
  padding-left: 15px;
}

#mechanical-problems-button {
  float: right;
  width: 90px;
  height: 23px;
  padding-left: 15px;
}

#software-problems-button {
  float: right;
  width: 73px;
  height: 23px;
  padding-left: 15px;
}

.print-buttons {
  background-color: lightblue;
  border-radius: 10px;
  padding-top: 5px;
  margin: 3px;
  display: none;
}

#other-prints-button {
  float: right;
  width: 60px;
  height: 23px;
  padding-left: 15px;
}

#material-prints-button {
  float: right;
  width: 77px;
  height: 23px;
  padding-left: 15px;
}

#setting-prints-button {
  float: right;
  width: 69px;
  height: 23px;
  padding-left: 15px;
}

.suggestion-buttons {
  background-color: lightblue;
  border-radius: 10px;
  padding-top: 5px;
  margin: 3px;
  display: none;
}

#other-suggestion-button {
  float: right;
  width: 60px;
  height: 23px;
  padding-left: 15px;
}

#feature-suggestion-button {
  float: right;
  width: 69px;
  height: 23px;
  padding-left: 15px;
}

#configuration-suggestion-button {
  float: right;
  width: 103px;
  height: 23px;
  padding-left: 15px;
}

.question-buttons {
  background-color: lightblue;
  border-radius: 10px;
  padding-top: 5px;
  margin: 3px;
  display: none;
}

#other-question-button {
  float: right;
  width: 60px;
  height: 23px;
  padding-left: 15px;
}

#software-question-button {
  float: right;
  width: 73px;
  height: 23px;
  padding-left: 15px;
}

#printer-question-button {
  float: right;
  width: 60px;
  height: 23px;
  padding-left: 15px;
}

.title {
  font-size: 1.5em;
  margin: auto;
  width: 50%;
}

.editor {
  height: 200px;
  width: 100%;
}

#plus {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: relative;
  float: right;
  border-width: 2px;
  border: 1px solid black;
}

#plus:hover {
  background-color: gray;
}

.item {
  color: white;
  text-decoration: none;
}
