
<!doctype html>
<html>
<head>
    <title>Aether Form</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- styles -->
    <link href="/stylesheets/style.css" rel="stylesheet">

</head>

<body>

  <form action="/login" method="post">
    <h1>Login</h1>
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="password" placeholder="Password">
    <button type="submit">Submit</button>
  </form>


  <form action="/register" method="post">
    <h1>Register</h1>
    <input type="text" name="username" placeholder="Username">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password" placeholder="Password">
    <input type="text" name="confirmPassword" placeholder="Confirm Password">
    <button type="submit">Submit</button>
  </form>


</body>

</html>
